RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt|zeros|uploads|html|mysql|common|alidayu|pispower_do_not_delete|MP\_verify\_W8qrESx9YYd0EIG7\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]